*{
    margin: 0;
    padding: 0;
}

.cal{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 305px;
    margin: 20vh auto;
    background-color: rgb(69, 73, 73);
    border: 4px solid rgb(124, 102, 102);
    border-radius: 10px;
    color: white;
    justify-content: center;
     align-items: center;  
}


.butto{
    padding: 10px;
    width: 66px;
    height: 42px;
    margin: 2px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    appearance: none;
    outline: none;
    /* background-color: rgb(136,129,129); */
    
}


.clr{
    width: 141px;

}

#screen{
    margin: 10px 5px;
    height: 80px;
    background-color: rgb(136, 129, 129);
    width: 258px;
    /* border: 2px solid black; */
    border-radius: 8px;
    padding: 15px;
    font-size: 35px;
    appearance: none;
    border: none;
}

.butto:hover {
    background-color: light rgb(138, 131, 131);

}

.heading{
    text-align: center;
    font-size: 30px;
}